html {
  background-color:rgb(240,240,240);
}

.App-logo {
  height: 33px;
  width:auto;
  pointer-events: none;
}

.App-header {
  height:100px;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  padding:0 20px;
  box-shadow:0px 3px 7px 0 rgba(0,0,0,0.1);
}
.Hero {
  position:relative;
  display:block;
  padding:20px;
  margin:40px auto;

}
.Hero-Image {
  display:block;
  width:auto;
  height:auto;
  max-height:300px;
  max-width:80vw;
  margin:30px auto 60px;

}

.Hero p {
  margin-top:0;
}

.Cards {
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  padding:20px 0;
}
.Card {
  display:flex;
  flex-direction:column;
  width:176px;
  height:auto;
}

.Card p {
  margin: 5px 0;
}
.Card--Image {
  border-radius:8.9px;
}
.Card--Rating,
.Card--Description,
.Card--Pricing{
  display:inline-block;
  margin:10px;
}
.Card--Rating--Star {
  display:inline;
  width:14px;
  height:auto;
}
.Card--Description p{
  word-wrap: break-word;
}
